<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org.//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 的 主配置文件-->
<configuration>
    <settings>
        <!--配置控制台打印sql语句-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 指定数据库为mysql-->
            <property name="helperDialect" value="mysql"/>
            <!--配置分页参数合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>



</configuration>