<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Vote_ssm.web.answer_question.mapper.AnswerQuestionMapper">
    <!--  解决实体类和数据库字段不同，形成映射-->
    <resultMap id="answerQuestionMap" type="com.example.Vote_ssm.web.answer_question.entity.AnswerQuestion">
        <id property="answerId" column="answer_id"></id>
        <result property="questionId" column="question_id"></result>
        <result property="userId" column="user_id"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>

<insert id="add" parameterType="com.example.Vote_ssm.web.answer_question.entity.AnswerQuestion">
      insert into answer_question(question_id,user_id,create_time)
      values (#{answerQuestion.questionId},#{answerQuestion.userId},#{answerQuestion.createTime})
</insert>

<select id="getAnswerById" resultMap="answerQuestionMap">
    select * from answer_question
    where user_id = #{userId}
    and   question_id = #{questionId}
</select>








</mapper>