<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Vote_ssm.web.sys_paper.mapper.SysPaperMapper">
    <!--  解决实体类和数据库字段不同，形成映射-->
    <resultMap id="sysPaperMap" type="com.example.Vote_ssm.web.sys_paper.entity.SysPaper">
        <id property="paperId" column="paper_id"></id>
        <result property="questionId" column="question_id"></result>
        <result property="paperTitle" column="paper_title"></result>
        <result property="paperType" column="paper_type"></result>
        <result property="paperOrder" column="paper_order"></result>
    </resultMap>

    <insert id="addPaper" useGeneratedKeys="true" keyProperty="paperId" keyColumn="paper_id" parameterType="com.example.Vote_ssm.web.sys_paper.mapper.SysPaperMapper">
           insert  into sys_paper(question_id,paper_title,paper_type,paper_order)
           values (#{paper.questionId},#{paper.paperTitle},#{paper.paperType},#{paper.paperOrder})
    </insert>

    <delete id="deletePaper">
        delete  from sys_paper
        where   question_id = #{questionId}
    </delete>

    <select id="listPaper" resultMap="sysPaperMap">
         select * from sys_paper
         where  question_id = #{questionId}
    </select>
</mapper>