<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Vote_ssm.web.sys_paper_choice.mapper.SysPaperChoiceMapper">
    <!--  解决实体类和数据库字段不同，形成映射-->
    <resultMap id="sysPaperChoiceMap" type="com.example.Vote_ssm.web.sys_paper_choice.entity.SysPaperChoice">
        <id property="choiceId" column="choice_id"></id>
        <result property="paperId" column="paper_id"></result>
        <result property="choiceText" column="choice_text"></result>
        <result property="choiceOrder" column="choice_order"></result>
    </resultMap>

    <resultMap id="resultCountMap" type="com.example.Vote_ssm.web.sys_paper_choice.entity.ResultPaperChoice">
        <id property="chioceId" column="chioce_id"></id>
        <result property="paperId" column="paper_id"></result>
        <result property="choiceText" column="choice_text"></result>
        <result property="choiceOrder" column="choice_order"></result>
        <result property="questionId" column="question_id"></result>
        <result property="total" column="total"></result>
    </resultMap>
<!--删除选项接口-->
    <delete id="deleteChoice" >
       delete from sys_paper_choice
       where
       paper_id = #{paperId}
    </delete>

<!--2.批量保存选项接口
     insert into sys_paper_choice(paper_id,choice_text,choice_order) values
    (paperId,choiceText,choiceOrder),
    (paperId,choiceText,choiceOrder),
    (paperId,choiceText,choiceOrder),-->
    <insert id="saveBatch" parameterType="java.util.List">
         insert into sys_paper_choice(paper_id,choice_text,choice_order)
         values
         <foreach collection="choices" item="choice" separator=",">
         (#{choice.paperId},#{choice.choiceText},#{choice.choiceOrder})
         </foreach>
    </insert>

    <select id="listPaperChoice" resultMap="sysPaperChoiceMap">
        select * from sys_paper_choice
        where  paper_id = #{paperId}
    </select>

<!--查询选项的票数统计-->
    <select id="getListPaperChocie" resultMap="resultCountMap">
        select sp.question_id,spc.*,count(ac.user_id) as total from sys_paper as sp
        RIGHT JOIN  sys_paper_choice as spc on spc.paper_id =sp.paper_id
        left join answer_paper_choice as ac  on ac.choice_id = spc.choice_id
        where sp.question_id = #{questionId}
        GROUP BY spc.choice_id
        ORDER BY spc.choice_id asc
    </select>

</mapper>